:root {
    --card-bg-color: rgba(225, 232, 247, 0.05);
    --card-border-color: rgba(225, 232, 247, 0.04);
    --card-accident-color: rgba(1, 123, 255, 1);
    --card-header-tooltip-bg-color: rgba(255, 255, 255, 0.07);
    --card-header-title-color: rgba(255, 255, 255, 1);
    --card-header-desc-color: rgba(255, 255, 255, 0.5);
    --card-header-date-color: rgba(255, 255, 255, 0.7);
    --card-header-sum-color: rgba(20, 199, 132, 1);
    --card-header-user-icon-bg-color: rgba(20, 199, 132, 0.15);
    --card-header-count-color: rgba(1, 123, 255, 1);
    --card-header-btn-bg-color: rgba(225, 232, 247, 0.06);
    --card-header-btn-border-color: rgba(225, 232, 247, 0.04);
    --card-header-btn-color: rgba(255, 255, 255, 1);
    --card-toggle-list-bg-color: rgba(225, 232, 247, 0.05);
    --card-toggle-btn-bg-active-color: rgba(225, 232, 247, 0.06);
    --card-toggle-btn-border-active-color: rgba(225, 232, 247, 0.04);
    --card-toggle-btn-color: rgba(225, 232, 247, 0.5);
    --card-toggle-btn-active-color: rgba(225, 232, 247, 1);
    --card-deposit-bg-color: url(../img/deposit-card-bg.svg) no-repeat top / cover, rgba(1, 123, 255, 0.15);
    --card-deposit-border-color: rgba(1, 123, 255, 0.1);
    --card-deposit-hr-border-color: rgba(225, 232, 247, 0.1);
    --card-deposit-details-bg-color: rgba(1, 123, 255, 0.1);
    --card-deposit-details-label-color: rgba(255, 255, 255, 0.5);
    --card-deposit-details-desc-color: rgba(255, 255, 255, 1);
    --card-deposit-info-title-color: rgba(1, 123, 255, 1);
    --card-deposit-info-sum-color: rgba(255, 255, 255, 1);
    --card-deposit-info-sum-end-color: rgba(77, 77, 86, 1);
    --card-deposit-info-desc-color: rgba(255, 255, 255, 0.4);
    --card-deposit-info-date-color: rgba(255, 255, 255, 0.7);
    --card-deposit-info-btn-bg-color: rgba(225, 232, 247, 0.06);
    --card-deposit-info-btn-border-color: rgba(225, 232, 247, 0.04);
    --card-deposit-info-btn-color: rgba(255, 255, 255, 0.7);
    --card-deposit-tooltip-bg-color: rgba(21, 22, 22, 1);
    --card-deposit-tooltip-border-color: rgba(30, 31, 31, 1);
    --card-deposit-tooltip-color: rgba(255, 255, 255, 1);
    --card-daily-bg-color:
        url(../img/card-bg.svg) no-repeat top center / cover,
        linear-gradient(0deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01)),
        linear-gradient(180deg, #0b0c0c 0%, rgba(11, 12, 12, 0) 100%);
    --card-daily-border-color: rgba(255, 255, 255, 0.04);
    --card-daily-desc-color: rgba(255, 255, 255, 0.7);
    --card-daily-title-color: rgba(255, 255, 255, 1);
    --card-statistic-title-color: rgba(2, 207, 132, 1);
    --card-statistic-profit-bg-color: url(../img/statistic-card-bg.svg) no-repeat top / cover, rgba(2, 207, 13, 0.1);
    --card-statistic-profit-border-color: rgba(2, 207, 13, 0.1);
    --card-statistic-count-bg-color: rgba(255, 255, 255, 0.1);
    --card-statistic-item-bg-color: url(../img/card-bg.svg) no-repeat top / cover, rgba(255, 255, 255, 0.4);
    --card-statistic-item-title-color: rgba(255, 255, 255, 1);
    --card-statistic-item-count-color: rgba(255, 255, 255, 1);
    --card-statistic-btn-bg-color: rgba(225, 232, 247, 0.06);
    --card-statistic-btn-border-color: rgba(225, 232, 247, 0.04);
    --card-statistic-btn-color: rgba(255, 255, 255, 1);
}

.card {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-sm);
    border-radius: var(--border-radius-md);
    position: relative;
    overflow: hidden;
    @media (max-width: 1023.9px) {
        flex: 1 1 auto;
    }
    &.primary {
        background: var(--card-bg-color);
        border: 1px solid var(--card-border-color);
    }
    &.secondary {
        background: var(--card-bg-color);
        border: 1px solid var(--card-border-color);
        &::before {
            content: "";
            width: 130px;
            height: 130px;
            position: absolute;
            top: -90px;
            left: -35px;
            background: var(--card-accident-color);
            border: 1px solid var(--card-accident-color);
            filter: blur(202px);
        }
        &::after {
            content: "";
            width: 130px;
            height: 130px;
            position: absolute;
            bottom: -120px;
            right: -35px;
            background: var(--card-accident-color);
            border: 1px solid var(--card-accident-color);
            filter: blur(202px);
        }
        & .card__header {
            @media (max-width: 464.9px) {
                flex-direction: row;
                & .card__header-btn {
                    max-width: max-content;
                }
            }
        }
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        @media (max-width: 464.9px) {
            flex-direction: column;
        }
        &.statistic {
            @media (max-width: 1023.9px) {
                flex-direction: column;
            }
        }
        &.user {
            @media (min-width: 768px) and (max-width: 1023.9px) {
            }
            @media (max-width: 767.9px) {
                flex-direction: column;
            }
        }
    }
    &__header-user-wrap {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__header-user-avatar {
        width: 46px;
        height: 100%;
        object-fit: contain;
    }
    &__header-user-title-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__header-user-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--title-sm);
        font-weight: 500;
        color: var(--card-header-title-color);
    }
    &__header-user-date {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-header-desc-color);
        & .date {
            color: var(--card-header-date-color);
        }
    }
    &__header-user-icon {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        background: var(--card-header-user-icon-bg-color);
        object-fit: contain;
        border-radius: 50px;
    }
    &__header-tooltip {
        width: 100%;
        max-width: max-content;
        padding: var(--padding-xs);
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: var(--border-radius-sm);
        background: var(--card-header-tooltip-bg-color);
        box-shadow:
            inset 1px 1px 1px rgba(255, 255, 255, 0.05),
            inset -1px -1px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(12px);
        @media (max-width: 767.9px) {
            max-width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
    }
    &__header-tooltip-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--title-sm);
        font-weight: 500;
        color: var(--card-header-title-color);
    }
    &__header-tooltip-desc {
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-header-desc-color);
        & .sum {
            color: var(--card-header-sum-color);
        }
        & .count {
            color: var(--card-header-count-color);
        }
    }
    &__header-tooltip-icon {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
    &__daily {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: stretch;
        gap: 20px;
        @media (max-width: 659.9px) {
            flex-direction: column;
        }
    }
    &__header-title-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__header-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--title-sm);
        font-weight: 500;
        color: var(--card-header-title-color);
    }
    &__header-desc {
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--card-header-desc-color);
        & .sum {
            color: var(--card-header-sum-color);
        }
        & .count {
            color: var(--card-header-count-color);
        }
    }
    &__header-btn {
        width: 100%;
        max-width: max-content;
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--card-header-btn-color);
        background: var(--card-header-btn-bg-color);
        border: 1px solid var(--card-header-btn-border-color);
        @media (max-width: 464.9px) {
            max-width: 100%;
        }
    }
    &__toggle-list {
        width: 100%;
        max-width: 300px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px;
        border-radius: var(--border-radius-sm);
        background: var(--card-toggle-list-bg-color);
        @media (max-width: 1023.9px) {
            max-width: 100%;
        }
    }
    &__toggle-item {
        flex: 1 1 auto;
        @media (max-width: 1023.9px) {
            flex: 1 1 100%;
        }
    }
    &__toggle-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        background: transparent;
        border: 1px solid transparent;
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--card-toggle-btn-color);
        &.active {
            background: var(--card-toggle-btn-bg-active-color);
            border: 1px solid var(--card-toggle-btn-border-active-color);
            color: var(--card-toggle-btn-active-color);
        }
    }
    &__deposit-wrap {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
        padding: var(--padding-sm);
        border-radius: var(--border-radius-sm);
        background: var(--card-deposit-bg-color);
        border: 1px solid var(--card-deposit-border-color);
        @media (max-width: 767.9px) {
            flex-direction: column;
        }
        & > .card__deposit-info-date {
            @media (min-width: 768px) {
                display: none !important;
            }
            @media (max-width: 767.9px) {
                display: flex !important;
            }
        }
    }
    &__deposit-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        @media (min-width: 768px) and (max-width: 1023.9px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
        @media (max-width: 767.9px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
        &.details {
            width: 100%;
            max-width: 150px;
            padding: var(--padding-sm);
            background: var(--card-deposit-details-bg-color);
            box-shadow:
                inset 1px 1px 1px rgba(255, 255, 255, 0.05),
                inset -1px -1px 1px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
            border-radius: var(--border-radius-sm);
            @media (min-width: 768px) and (max-width: 1023.9px) {
                max-width: 230px;
                white-space: nowrap;
            }
            @media (max-width: 767.9px) {
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
            }
        }
        &.info {
            justify-content: space-between;
        }
    }
    &__divider {
        width: 100%;
        height: 1px;
        border: 1px dashed var(--card-deposit-hr-border-color);
        @media (min-width: 768px) and (max-width: 1023.9px) {
            width: 1px;
            height: 100%;
        }
        @media (max-width: 767.9px) {
            width: 1px;
            height: 40px;
        }
    }
    &__deposit-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__deposit-details-label {
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-deposit-details-label-color);
    }
    &__deposit-details-desc {
        font-size: var(--desc-size-lg);
        font-weight: 300;
        color: var(--card-deposit-details-desc-color);
    }
    &__deposit-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
        & > .card__deposit-info-date {
            @media (min-width: 768px) {
                display: flex !important;
            }
            @media (max-width: 767.9px) {
                display: none !important;
            }
        }
        &:last-child {
            @media (min-width: 768px) and (max-width: 1023.9px) {
                align-items: flex-end;
            }
            @media (max-width: 767.9px) {
                align-items: flex-end;
            }
        }
    }
    &__deposit-info-title {
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-deposit-info-title-color);
    }
    &__deposit-info-sum {
        font-size: var(--title-lg);
        font-weight: 600;
        color: var(--card-deposit-info-sum-color);
        & .fraction {
            color: var(--card-deposit-info-sum-end-color);
        }
    }
    &__deposit-info-btn {
        width: 100%;
        max-width: max-content;
        padding: var(--padding-xs);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: var(--desc-size-lg);
        font-weight: 300;
        color: var(--card-deposit-details-desc-color);
        background: var(--card-deposit-info-btn-bg-color);
        border: 1px solid var(--card-deposit-info-btn-border-color);
        border-radius: var(--border-radius-sm);
        backdrop-filter: blur(4px);
        & span {
            @media (max-width: 767.9px) {
                display: none;
            }
        }
    }
    &__deposit-info-desc {
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-deposit-details-desc-color);
    }
    &__deposit-info-date {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-deposit-info-desc-color);
        & .date {
            color: var(--card-deposit-info-date-color);
        }
    }
    &__deposit-tooltip {
        position: absolute;
        top: 20px;
        left: 120px;
        width: 200px;
        padding: var(--padding-xs);
        font-size: var(--desc-size-sm);
        font-weight: 300;
        color: var(--card-deposit-tooltip-color);
        background: var(--card-deposit-tooltip-bg-color);
        border: 1px solid var(--card-deposit-tooltip-border-color);
        border-radius: var(--border-radius-sm);
        z-index: 1;
        transform: translateY(-50%);
        display: none;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -12px;
            transform: translateX(50%) translateY(-50%) rotate(45deg);
            width: 12px;
            height: 12px;
            background: var(--card-deposit-tooltip-bg-color);
            z-index: 0;
            @media (min-width: 768px) and (max-width: 1023.9px) {
                top: auto;
                left: 50%;
                bottom: -12px;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
            @media (max-width: 767.9px) {
                top: auto;
                left: auto;
                right: 10px;
                bottom: -12px;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
        }
        @media (min-width: 768px) and (max-width: 1023.9px) {
            top: -50px;
            left: auto;
            right: -20%;
        }
        @media (max-width: 767.9px) {
            top: -50px;
            left: auto;
            right: 0;
        }
    }
    &__statistic-wrap {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: 8px;
        @media (max-width: 1023.9px) {
            flex-direction: column;
        }
    }
    &__statistic-profit {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        padding: 4px;
        background: var(--card-statistic-profit-bg-color);
        border: 1px solid var(--card-statistic-profit-border-color);
        border-radius: var(--border-radius-sm);
        @media (max-width: 1023.9px) {
            width: 100%;
            flex-direction: row;
        }
        @media (max-width: 463.9px) {
            flex-direction: column;
        }
    }
    &__statistic-profit-wrap {
        width: 25vw;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media (max-width: 1023.9px) {
            width: 100%;
            flex-direction: row;
        }
        @media (max-width: 374.9px) {
            flex-direction: column;
        }
    }
    &__statistic-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--title-sm);
        font-weight: 500;
        color: var(--card-statistic-title-color);
        padding-left: 10px;
        padding-top: 10px;
    }
    &__statistic-count {
        width: 100%;
        max-width: 25vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: var(--padding-sm);
        font-size: var(--title-md);
        font-weight: 500;
        color: var(--card-statistic-title-color);
        background: var(--card-statistic-count-bg-color);
        box-shadow:
            inset 1px 1px 1px rgba(255, 255, 255, 0.05),
            inset -1px -1px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(12px);
        border-radius: var(--border-radius-sm);
        @media (max-width: 463.9px) {
            max-width: 100%;
        }
    }
    &__statistic-profit-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: var(--padding-sm);
        background: var(--card-statistic-btn-bg-color);
        border: 1px solid var(--card-statistic-btn-border-color);
        border-radius: var(--border-radius-sm);
        & span {
            font-size: var(--desc-size-md);
            font-weight: 300;
            color: var(--card-statistic-btn-color);
        }
        @media (max-width: 1023.9px) {
            max-width: 100px;
        }
        @media (max-width: 374.9px) {
            max-width: 100%;
        }
    }
    &__statistic-profit-icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    &__statistic-list {
        width: 75vw;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        @media (max-width: 1023.9px) {
            width: 100%;
        }
    }
    &__statistic-item {
        flex: 1 1 calc(100% / 4 - 8px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: var(--padding-sm);
        background: var(--card-statistic-item-bg-color);
        border-radius: var(--border-radius-sm);
        @media (max-width: 767.9px) {
            flex: 1 1 calc(100% / 2 - 8px);
        }
        @media (max-width: 374.9px) {
            flex: 1 1 100%;
        }
    }
    &__statistic-item-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 500;
        color: var(--card-statistic-item-title-color);
        & > span {
            @media (max-width: 1079.9px) {
                display: none;
            }
        }
    }
    &__statistic-item-count {
        font-size: var(--title-md);
        font-weight: 300;
        color: var(--card-statistic-item-count-color);
    }
    &__statistic-item-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
}

.daily-list {
    width: 80vw;
    height: 100%;
    min-height: 150px;
    display: flex;
    align-items: stretch;
    gap: 8px;
    background: var(--card-daily-bg-color);
    border: 1px solid var(--card-daily-border-color);
    padding: 4px;
    border-radius: var(--border-radius-md);
    & .daily-item {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        & .daily-desc {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-size: var(--desc-size-sm);
            color: var(--card-daily-desc-color);
            & > span {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 2px;
                &.cyan {
                    background-color: rgba(208, 247, 255, 1);
                }
                &.violet {
                    background-color: rgba(138, 177, 255, 1);
                }
                &.blue {
                    background-color: rgba(1, 123, 255, 1);
                }
            }
        }
        & .daily-title {
            font-size: var(--title-md);
            font-weight: 500;
            color: var(--card-daily-title-color);
        }
        &:nth-child(1) {
            background: linear-gradient(151.6deg, rgba(208, 247, 255, 0.05) 5.73%, rgba(208, 247, 255, 0.2) 96.44%);
        }
        &:nth-child(2) {
            background: linear-gradient(151.6deg, rgba(138, 177, 255, 0.05) 5.73%, rgba(138, 177, 255, 0.2) 96.44%);
        }
        &:nth-child(3) {
            background: linear-gradient(151.6deg, rgba(1, 123, 255, 0.05) 5.73%, rgba(1, 123, 255, 0.15) 96.44%);
        }
    }
    @media (min-width: 1024px) and (max-width: 1223.9px) {
        width: 100%;
    }
    @media (min-width: 660px) and (max-width: 1023.9px) {
        width: 100%;
        height: 150px;
    }
    @media (max-width: 659.9px) {
        width: 100%;
        height: 150px;
    }
}

.chart {
    &__bars {
        width: 20vw;
        min-width: 200px;
        height: 100%;
        min-height: 150px;
        display: flex;
        align-items: stretch;
        gap: 8px;
        padding: 4px;
        border-radius: var(--border-radius-md);
        @media (min-width: 1024px) and (max-width: 1223.9px) {
            width: 100%;
            min-width: auto;
        }
        @media (min-width: 660px) and (max-width: 1023.9px) {
            width: 20vw;
            min-width: 200px;
            height: 150px;
        }
        @media (max-width: 659.9px) {
            width: 100%;
            min-width: auto;
            height: 150px;
        }
    }

    &__bar {
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-sm);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.04);
        @media (max-width: 524.9px) {
            flex: 1 1 100%;
        }
    }

    &__bar-fill {
        display: block;
        width: 100%;
        border-radius: 8px 8px 0 0;
        transition: height 0.4s ease;
        background: transparent;
    }

    &__bar:nth-child(1) .chart__bar-fill {
        background: #a0bcc2;
        border: 1px solid rgba(255, 255, 255, 0.04);
    }
    &__bar:nth-child(2) .chart__bar-fill {
        background: #647cae;
        border: 1px solid rgba(255, 255, 255, 0.04);
    }
    &__bar:nth-child(3) .chart__bar-fill {
        background: #0f529a;
        border: 1px solid rgba(255, 255, 255, 0.04);
    }
}
