:root {
    --credit-card-bg-color: rgba(225, 232, 247, 0.05);
    --credit-card-border-color: rgba(225, 232, 247, 0.04);
    --credit-card-title-color: rgba(255, 255, 255, 1);
    --credit-card-desc-color: rgba(255, 255, 255, 0.6);
    --credit-card-count-color: rgba(163, 182, 203, 1);
    --credit-card-content-btn-bg-color: rgba(225, 232, 247, 0.06);
    --credit-card-content-btn-border-color: rgba(225, 232, 247, 0.04);
    --credit-card-content-btn-color: rgba(255, 255, 255, 1);
    --credit-raised-card-details-bg-color: rgba(255, 255, 255, 0.1);
    --credit-raised-card-details-label-color: rgba(255, 255, 255, 0.5);
    --credit-raised-card-details-desc-color: rgba(255, 255, 255, 1);
    --credit-raised-card-hr-border-color: rgba(225, 232, 247, 0.1);
    --credit-raised-card-bg-color: url(../img/card-bg.svg) no-repeat top / cover, rgba(255, 255, 255, 0.1);
    --credit-raised-card-border-color: rgba(255, 255, 255, 0.1);
    --credit-raised-card-info-title-color: rgba(255, 255, 255, 0.6);
    --credit-raised-card-info-sum-color: rgba(255, 255, 255, 1);
    --credit-raised-card-info-sum-end-color: rgba(255, 255, 255, 0.3);
    --credit-raised-card-info-date-color: rgba(255, 255, 255, 0.7);
    --credit-raised-card-info-desc-color: rgba(255, 255, 255, 0.4);
    --credit-deposit-card-dt-color: rgba(255, 255, 255, 0.7);
    --credit-deposit-card-dd-color: rgba(255, 255, 255, 1);
}

.credit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    &__wrap {
        flex: 1;
        display: flex;
        align-items: stretch;
        gap: 20px;
        & .credit__card {
            &:first-child {
                width: calc(60% - 20px);
                flex: 1 1 auto;
            }
            &:last-child {
                width: calc(40% - 20px);
                flex: 1 1 calc(40% - 20px);
                min-width: 400px;
            }
        }
        @media (max-width: 1323.9px) {
            flex-direction: column;
            & .credit__card {
                &:first-child {
                    width: 100%;
                }
                &:last-child {
                    width: 100%;
                }
            }
        }
        @media (max-width: 767.9px) {
            & .credit__card {
                &:last-child {
                    min-width: auto;
                }
            }
        }
    }
    &__card {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: var(--padding-sm);
        background: var(--credit-card-bg-color);
        border: 1px solid var(--credit-card-border-color);
        border-radius: var(--border-radius-sm);
        backdrop-filter: blur(22px);
        @media (max-width: 1323.9px) {
            &:first-child {
                min-height: auto;
            }
            :last-child {
                min-height: auto;
            }
        }
        &-header {
            display: flex;
                flex-direction: column;
                gap: 8px;
            &-inner {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                gap: 8px;
            }
        }
        &-title {
            font-size: var(--title-md);
            font-weight: 500;
            color: var(--credit-card-title-color);
        }
        &-desc {
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--credit-card-desc-color);
            & .count {
                color: var(--credit-card-count-color);
            }
        }
        &-content {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            &-icon {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
            &-title {
                font-size: var(--title-sm);
                font-weight: 500;
                color: var(--credit-card-title-color);
            }
            &-desc {
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--credit-card-desc-color);
                text-align: center;
            }
            &-btn {
                width: 100%;
                max-width: max-content;
                padding: var(--padding-sm);
                border-radius: var(--border-radius-sm);
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--credit-card-content-btn-bg-color);
                border: 1px solid var(--credit-card-content-btn-border-color);
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--credit-card-content-btn-color);
                &[hidden] {
                    display: none;
                }
            }
            @media (max-width: 1323.9px) {
                flex-direction: row;
                align-items: flex-start;
            }
            @media (max-width: 767.9px) {
                flex-direction: column;
            }
        }
    }
    &__raised-card {
        width: 100%;
        @media (max-width: 1323.9px) {
            flex: 1 1 calc(60% - 20px);
        }
        @media (max-width: 767.9px) {
            flex: 1 1 auto;
        }
        &-wrap {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 16px;
            padding: var(--padding-sm);
            border-radius: var(--border-radius-sm);
            background: var(--credit-raised-card-bg-color);
            border: 1px solid var(--credit-raised-card-border-color);
            @media (max-width: 464.9px) {
                flex-direction: column;
            }
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            &.details {
                width: 100%;
                min-width: 150px;
                max-width: 10vw;
                flex-direction: column;
                gap: 20px;
                padding: var(--padding-sm);
                background: var(--credit-raised-card-details-bg-color);
                box-shadow:
                    inset 1px 1px 1px rgba(255, 255, 255, 0.05),
                    inset -1px -1px 1px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(12px);
                border-radius: var(--border-radius-sm);
                @media (max-width: 464.9px) {
                    flex-direction: row;
                    max-width: 100%;
                    & .credit__raised-card-divider {
                        width: 1px;
                        height: 37px;
                    }
                }
            }
            &.info {
                width: 100%;
                justify-content: space-between;
            }
        }
        &-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;
            &-label {
                font-size: var(--desc-size-sm);
                font-weight: 300;
                color: var(--credit-raised-card-details-label-color);
            }
            &-desc {
                font-size: var(--desc-size-lg);
                font-weight: 300;
                color: var(--credit-raised-card-details-desc-color);
            }
        }
        &-divider {
            width: 100%;
            height: 1px;
            border: 1px dashed var(--credit-raised-card-hr-border-color);
        }
        &-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            position: relative;
            &-title {
                font-size: var(--desc-size-sm);
                font-weight: 300;
                color: var(--credit-raised-card-info-title-color);
            }
            &-sum {
                font-size: var(--title-lg);
                font-weight: 600;
                color: var(--credit-raised-card-info-sum-color);
                & .fraction {
                    color: var(--credit-raised-card-info-sum-end-color);
                }
            }
            &-date {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: var(--desc-size-sm);
                font-weight: 300;
                color: var(--credit-raised-card-info-desc-color);
                & .date {
                    color: var(--credit-raised-card-info-date-color);
                }
            }
        }
    }
    &__deposit-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 1323.9px) {
            flex: 1 1 calc(40% - 20px);
        }
        @media (max-width: 767.9px) {
            flex: 1 1 auto;
        }
        &-title {
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--credit-card-desc-color);
        }
        & dl {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;
            & dt,
            & dd {
                font-size: var(--desc-size-md);
                white-space: nowrap;
            }
            & dt {
                flex: 1 1 calc(50% - 8px);
                color: var(--credit-deposit-card-dt-color);
            }
            & dd {
                flex: 1 1 auto;
                font-weight: 500;
                color: var(--credit-deposit-card-dd-color);
                text-align: right;
            }
        }
    }
}

.promo-video {
    width: 100%;
    display: flex;
    flex: 1;
    &__container {
        position: relative;
        width: 100%;
        flex: 1;
        border-radius: var(--border-radius-sm);
        overflow: hidden;
        background: var(--credit-card-bg-color);
        @media (max-width: 1323.9px) {
            position: relative;
            width: 100%;
            aspect-ratio: 16 / 9; // ← главный параметр
            border-radius: var(--border-radius-sm);
            overflow: hidden;
            background: var(--credit-card-bg-color);
        }
    }
    &__player {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 1323.9px) {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
            display: block;
        }
    }
    &__play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        transition: transform 0.25s ease;
        &:hover {
            transform: translate(-50%, -50%) scale(1.07);
        }
        &.hidden {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.25s ease;
        }
    }
}

.progressbar {
    width: 100%;
    height: 30px;
    background: rgba(172, 190, 208, 0.06);
    border: 1px solid #656c74;
    border-radius: var(--border-radius-sm);
    backdrop-filter: blur(16px);
    padding: 2px;
    position: relative;
    overflow: hidden;
    &__fill {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 4px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: var(--border-radius-xs);
        backdrop-filter: blur(8px);
        transition: width 0.35s ease;
    }
    &__label {
        color: rgba(255, 255, 255, 1);
        font-size: var(--desc-size-sm);
        font-weight: 500;
    }
}

.credits-desktop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    @media (max-width: 767.9px) {
        display: none;
    }
    &__table {
        width: 100%;
        & tr {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        & tbody {
            & tr {
                padding: 8px 0;
                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.01);
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    &__header-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 220px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(6) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(7) {
            width: 120px;
            min-width: 120px;
        }
        &:nth-child(8) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__header-icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        cursor: pointer;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 220px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(6) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(7) {
            width: 120px;
            min-width: 120px;
        }
        &:nth-child(8) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__logo {
        width: auto;
        height: 16px;
        object-fit: contain;
    }
    &__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    &__desc {
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--table-desc-color);
        & .network {
            color: var(--table-network-color);
        }
        & .success {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-success-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-success-color);
            }
        }
        & .failed {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-failed-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-failed-color);
            }
        }
    }
    &__tooltip {
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--desc-size-sm);
        &.success {
            background: var(--table-tooltip-success-bg-color);
            color: var(--table-success-color);
        }
        &.failed {
            background: var(--table-tooltip-failed-bg-color);
            color: var(--table-failed-color);
        }
    }
}

.credits-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: var(--padding-xs);
    background: transparent;
    border: 1px solid var(--table-mobile-border-color);
    border-radius: var(--border-radius-sm);
    @media (min-width: 768px) {
        display: none;
    }
    .credit-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &:last-child {
            & .credit-mobile__list {
                dd:last-of-type {
                    border: none;
                    padding-bottom: 0;
                }
                dt:last-of-type {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
        &__header {
            font-size: var(--desc-size-sm);
            color: var(--table-mobile-header-title-color);
        }

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
        }
        dt {
            width: 40%;
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--table-mobile-item-title-color);
            padding: var(--padding-xs);
            padding-left: 0;
            display: flex;
            flex-direction: row;
            gap: 0;
            border-bottom: 1px solid var(--table-mobile-item-border-color);
        }

        dd {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--table-mobile-item-desc-color);
            padding: var(--padding-xs);
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            gap: 8px;
            border-bottom: 1px solid var(--table-mobile-item-border-color);
        }
        &__icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
    &__desc {
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--table-desc-color);
        & .network {
            color: var(--table-network-color);
        }
        & .success {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-success-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-success-color);
            }
        }
        & .failed {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-failed-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-failed-color);
            }
        }
    }
}