:root {
    --table-header-title-color: rgba(255, 255, 255, 1);
    --table-desc-color: rgba(255, 255, 255, 0.7);
    --table-network-color: rgba(255, 255, 255, 1);
    --table-success-color: rgba(20, 199, 132, 1);
    --table-failed-color: rgba(255, 8, 46, 1);
    --table-tooltip-success-bg-color: rgba(19, 187, 124, 0.08);
    --table-tooltip-failed-bg-color: rgba(255, 8, 46, 0.08);
    --table-mobile-border-color: rgba(255, 255, 255, 0.05);
    --table-mobile-header-title-color: rgba(255, 255, 255, 0.5);
    --table-mobile-item-border-color: rgba(255, 255, 255, 0.05);
    --table-mobile-item-title-color: rgba(255, 255, 255, 0.7);
    --table-mobile-item-desc-color: rgba(255, 255, 255, 1);
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__card-wrap {
        display: flex;
        gap: 20px;
        @media (max-width: 1439.9px) {
            flex-direction: column;
        }
    }
}