:root {
    --table-header-title-color: rgba(255, 255, 255, 1);
    --table-desc-color: rgba(255, 255, 255, 0.7);
    --table-network-color: rgba(255, 255, 255, 1);
    --table-success-color: rgba(20, 199, 132, 1);
    --table-failed-color: rgba(255, 8, 46, 1);
    --table-tooltip-success-bg-color: rgba(19, 187, 124, 0.08);
    --table-tooltip-failed-bg-color: rgba(255, 8, 46, 0.08);
    --table-mobile-border-color: rgba(255, 255, 255, 0.05);
    --table-mobile-header-title-color: rgba(255, 255, 255, 0.5);
    --table-mobile-item-border-color: rgba(255, 255, 255, 0.05);
    --table-mobile-item-title-color: rgba(255, 255, 255, 0.7);
    --table-mobile-item-desc-color: rgba(255, 255, 255, 1);
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__card-wrap {
        display: flex;
        gap: 20px;
        @media (max-width: 1023.9px) {
            flex-direction: column;
        }
    }
}

.trades {
    overflow: hidden;
    overflow-x: auto;
    @media (max-width: 767.9px) {
        display: none;
    }
    &__table {
        width: 100%;
        & tr {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        & tbody {
            & tr {
                padding: 8px 0;
                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.01);
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    &__header-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 220px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(6) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(7) {
            width: 120px;
            min-width: 120px;
        }
        &:nth-child(8) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__header-icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        cursor: pointer;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 220px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 120px;
        }
        &:nth-child(6) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(7) {
            width: 120px;
            min-width: 120px;
        }
        &:nth-child(8) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__logo {
        width: auto;
        height: 16px;
        object-fit: contain;
    }
    &__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    &__desc {
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--table-desc-color);
        & .network {
            color: var(--table-network-color);
        }
        & .success {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-success-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-success-color);
            }
        }
        & .failed {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-failed-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-failed-color);
            }
        }
    }
    &__tooltip {
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--desc-size-sm);
        &.success {
            background: var(--table-tooltip-success-bg-color);
            color: var(--table-success-color);
        }
        &.failed {
            background: var(--table-tooltip-failed-bg-color);
            color: var(--table-failed-color);
        }
    }
}

.trades-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: var(--padding-xs);
    background: transparent;
    border: 1px solid var(--table-mobile-border-color);
    border-radius: var(--border-radius-sm);
    @media (min-width: 768px) {
        display: none;
    }
    .trade-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &:last-child {
            & .trade-mobile__item {
                &:last-child {
                    border-bottom: none;
                    & dt,
                    & dd {
                        padding-bottom: 0;
                    }
                }
            }
        }
        &__header {
            font-size: var(--desc-size-sm);
            color: var(--table-mobile-header-title-color);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &__item {
            display: flex;
            flex-direction: row;
            gap: 0;
            border-bottom: 1px solid var(--table-mobile-item-border-color);

            dt {
                width: 40%;
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--table-mobile-item-title-color);
                padding: var(--padding-xs);
                padding-left: 0;
            }

            dd {
                width: 60%;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--table-mobile-item-desc-color);
                padding: var(--padding-xs);
                white-space: nowrap;
            }
        }
        &__icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
}

.transactions {
    overflow: hidden;
    overflow-x: auto;
    @media (max-width: 767.9px) {
        display: none;
    }
    &__table {
        width: 100%;
        & tr {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        & tbody {
            & tr {
                padding: 8px 0;
                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.01);
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    &__header-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(6) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__header-icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        cursor: pointer;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(6) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__logo {
        width: auto;
        height: 16px;
        object-fit: contain;
    }
    &__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    &__desc {
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--table-desc-color);
        & .network {
            color: var(--table-network-color);
        }
        & .success {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-success-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-success-color);
            }
        }
        & .failed {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-failed-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-failed-color);
            }
        }
    }
    &__tooltip {
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--desc-size-sm);
        &.success {
            background: var(--table-tooltip-success-bg-color);
            color: var(--table-success-color);
        }
        &.failed {
            background: var(--table-tooltip-failed-bg-color);
            color: var(--table-failed-color);
        }
    }
}

.transactions-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: var(--padding-xs);
    background: transparent;
    border: 1px solid var(--table-mobile-border-color);
    border-radius: var(--border-radius-sm);
    @media (min-width: 768px) {
        display: none;
    }
    .transaction-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &:last-child {
            & .transaction-mobile__item {
                &:last-child {
                    border-bottom: none;
                    & dt,
                    & dd {
                        padding-bottom: 0;
                    }
                }
            }
        }
        &__header {
            font-size: var(--desc-size-sm);
            color: var(--table-mobile-header-title-color);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &__item {
            display: flex;
            flex-direction: row;
            gap: 0;
            border-bottom: 1px solid var(--table-mobile-item-border-color);

            dt {
                width: 40%;
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--table-mobile-item-title-color);
                padding: var(--padding-xs);
                padding-left: 0;
            }

            dd {
                width: 60%;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--table-mobile-item-desc-color);
                padding: var(--padding-xs);
                white-space: nowrap;
            }
        }
        &__icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }
}
