:root {
    --referral-card-bg-color: rgba(225, 232, 247, 0.05);
    --referral-card-border-color: rgba(225, 232, 247, 0.04);
    --referral-card-title-color: rgba(255, 255, 255, 1);
    --referral-card-desc-color: rgba(255, 255, 255, 0.4);
    --referral-card-count-color: rgba(20, 199, 132, 1);
    --referral-card-bg: url(../img/card-bg.svg) no-repeat top / cover, rgba(1, 123, 255, 0.15);
    --referral-qr-bg-color: rgba(255, 255, 255, 0.03);
    --referral-qr-border-color: rgba(255, 255, 255, 0.02);
    --referral-input-bg-color: rgba(255, 255, 255, 0.03);
    --referral-input-border-color: rgba(255, 255, 255, 0.02);
    --referral-input-color: rgba(255, 255, 255, 1);
    --referral-btn-bg-color: rgba(225, 232, 247, 0.06);
    --referral-btn-border-color: rgba(225, 232, 247, 0.04);
    --referral-card-wrap-light-bg-color: rgba(28, 28, 29, 1);
    --referral-card-wrap-dark-bg-color: rgba(225, 232, 247, 0.05);
    --referral-card-wrap-light-color: rgba(255, 255, 255, 1);
    --referral-card-wrap-dark-color: rgba(255, 255, 255, 0.6);
    --referral-card-wrap-fill-bg-color: rgba(20, 20, 20, 1);
    --referral-card-wrap-fill-border-color: rgba(225, 232, 247, 0.04);
    --referral-grid-card-bg-color: rgba(255, 255, 255, 0.1);
    --referral-grid-card-border-color: rgba(255, 255, 255, 0.1);
    --referral-grid-card-active-bg-color: rgba(2, 207, 132, 0.1);
    --referral-grid-card-active-border-color: rgba(2, 207, 132, 0.1);
    --referral-grid-card-status-color: rgba(142, 142, 142, 1);
    --referral-grid-card-status-active-color: rgba(3, 193, 122, 1);
    --referral-card-user-tooltip-bg: url(../img/card-bg.svg) no-repeat top / cover, rgba(255, 255, 255, 0.04);
    --referral-card-user-tooltip-border: rgba(255, 255, 255, 0.04);
}

.referral {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__wrap {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: 20px;
        position: relative;
        &.column {
            min-width: 300px;
            max-width: 25vw;
            flex-direction: column;
            @media (min-width: 768px) and (max-width: 1347.9px) {
                min-width: 100%;
                max-width: 100%;
            }
            @media (max-width: 767.9px) {
                min-width: 100%;
                max-width: 100%;
            }
        }
        @media (min-width: 1024px) and (max-width: 1347.9px) {
            flex-direction: column;
        }
        @media (max-width: 991.9px) {
            flex-direction: column;
        }
        &:first-child {
            & .referral__card {
                &:first-child {
                    width: 100%;
                    min-width: 350px;
                    max-width: 25vw;
                    @media (min-width: 1024px) and (max-width: 1347.9px) {
                        min-width: 100%;
                        max-width: 100%;
                    }
                    @media (max-width: 991.9px) {
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        &#currentLevel {
            @media (max-width: 1347.9px) {
                flex-direction: column-reverse;
            }
        }
    }
    &__card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: var(--padding-sm);
        border-radius: var(--border-radius-sm);
        background: var(--referral-card-bg-color);
        border: 1px solid var(--referral-card-border-color);
        position: relative;
        &#ratingSystem {
            width: calc(100% - 320px);
            max-height: 560px;
            @media (max-width: 1347.9px) {
                width: 100%;
            }
        }
        &#yourCurrentLevel {
            height: 150px;
            @media (max-width: 359.9px) {
                height: 185px;
            }
        }
        &-title {
            font-size: var(--title-sm);
            font-weight: 500;
            color: var(--referral-card-title-color);
        }
        &-header {
            display: flex;
            flex-direction: column;
            gap: 8px;
            &-title {
                font-size: var(--desc-size-lg);
                font-weight: 500;
                color: var(--referral-card-title-color);
            }
            &-desc {
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--referral-card-desc-color);
            }
        }
        &-desc {
            &-wrap {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-end;
                gap: 16px;
            }
            &-sum {
                font-size: var(--title-lg);
                font-weight: 500;
                color: var(--referral-card-title-color);
                & .network {
                    font-size: var(--title-sm);
                    font-weight: 400;
                    text-transform: uppercase;
                    color: var(--referral-card-desc-color);
                }
            }
            &-count {
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: var(--referral-card-count-color);
            }
        }
        &-qr {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--padding-sm);
            border-radius: var(--border-radius-sm);
            background: var(--referral-qr-bg-color);
            border: 1px solid var(--referral-qr-border-color);
            &-img {
                width: 150px;
                height: 150px;
                object-fit: contain;
            }
        }
        &-input {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--padding-sm);
            padding-right: 80px;
            border-radius: var(--border-radius-sm);
            background: var(--referral-input-bg-color);
            border: 1px solid var(--referral-input-border-color);
            font-size: var(--desc-size-md);
            color: var(--referral-input-color);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &-wrap {
                position: relative;
            }
            &-icon {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
            &-btn {
                width: 30px;
                height: 30px;
                background: transparent;
                border: none;
                outline: none;
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
        &-download {
            &-wrap {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
            }
            &-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            &-title {
                font-size: var(--desc-size-md);
                font-weight: 500;
                color: var(--referral-card-title-color);
            }
            &-desc {
                font-size: var(--desc-size-sm);
                font-weight: 400;
                color: var(--referral-card-desc-color);
            }
            &-btn {
                width: 40px;
                min-width: 40px;
                height: 40px;
                min-height: 40px;
                border-radius: var(--border-radius-sm);
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--referral-btn-bg-color);
                border: 1px solid var(--referral-btn-border-color);
                border-radius: var(--border-radius-sm);

                &-icon {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }
        }
        &-wrap {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 0;
            border-radius: var(--border-radius-sm);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            &-light {
                width: 50%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: var(--padding-sm);
                background: var(--referral-card-wrap-light-bg-color);
                color: var(--referral-card-wrap-light-color);
            }
            &-dark {
                width: 50%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: var(--padding-sm);
                background: var(--referral-card-wrap-dark-bg-color);
                color: var(--referral-card-wrap-dark-color);
            }
            &-fill {
                width: 100%;
                height: max-content;
                padding: var(--padding-sm);
                display: flex;
                flex-direction: column;
                gap: 20px;
                background: var(--referral-card-wrap-fill-bg-color);
                border: 1px solid var(--referral-card-wrap-fill-border-color);
                border-radius: var(--border-radius-sm);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2;
                &-gold {
                    &-title {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: var(--desc-size-lg);
                        color: var(--referral-card-title-color);
                    }
                    &-icon {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }
                }
                &-desc {
                    font-size: var(--desc-size-lg);
                    font-weight: 400;
                    color: var(--referral-card-desc-color);
                    & .sum {
                        color: var(--referral-card-count-color);
                    }
                    &-wrap {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        @media (max-width: 364.9px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 614.9px) {
            flex-direction: column;
        }
    }
    &__item {
        flex: 1 1 calc(100% / 3 - 8px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: var(--referral-card-bg);
        padding: var(--padding-sm);
        border-radius: var(--border-radius-sm);
        &-title {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: var(--desc-size-md);
            font-weight: 500;
            color: var(--referral-card-desc-color);
        }
        &-desc {
            font-size: var(--title-md);
            font-weight: 300;
            color: var(--referral-card-title-color);
        }
        @media (max-width: 767.9px) {
            width: 100%;
            flex: 1 1 100%;
        }
    }
}

.matrix {
    overflow: auto;
    scrollbar-width: thin;

    &__table {
        width: 100%;
        min-width: max-content;
        border-collapse: collapse;
        table-layout: fixed;
        gap: 4px;

        th,
        td {
            width: 135px;
            padding: 4px;
            border-top: 1px solid #1a1a1d;
            border-bottom: 1px solid #1a1a1d;
        }
        th {
            &:first-child {
                width: 160px;
                border-right: 1px solid #1a1a1d;
                & .matrix__title {
                    background: transparent;
                    border: none;
                }
                & .matrix__desc {
                    background: transparent;
                    border: none;
                }
            }
        }

        tr {
            &:hover {
                background: rgba(255, 255, 255, 0.03);
            }
        }
        thead th {
            font-weight: 400;

            span {
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: #ffffff;
            }
        }

        tbody th {
            font-weight: 600;
            text-align: left;
            padding-left: 12px;

            .sub {
                display: block;
                font-size: 11px;
                color: #9a9a9a;
            }
        }

        tbody td {
            border-radius: 8px;
        }
    }
    &__title {
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: #ffffff;
        &.column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 4px;
            padding: 4px;
        }
        & .sub {
            color: rgba(255, 255, 255, 0.4);
        }
    }
    &__desc {
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: #ffffff;
    }
}

.bonus {
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    &__table {
        width: 100%;
        min-width: 1280px;
        border-collapse: collapse;
        table-layout: fixed;
        gap: 4px;

        th,
        td {
            border-top: 1px solid #1a1a1d;
            border-bottom: 1px solid #1a1a1d;
            white-space: nowrap;
            &:first-child {
                width: 250px;
                white-space: nowrap;
            }
            &:not(:first-child) {
                width: auto;
                white-space: nowrap;
            }
        }
        th {
            padding: 8px;
            &:first-child {
                & .bonus__title {
                    background: transparent;
                    border: none;
                }
                & .bonus__desc {
                    background: transparent;
                    border: none;
                }
            }
        }
        td {
            border-left: 1px solid #1a1a1d;
        }

        tr {
            &:hover {
                background: rgba(255, 255, 255, 0.03);
            }
        }
        thead th {
            font-weight: 400;
            padding: 2px;
            border: none;

            & .bonus__title {
                text-transform: uppercase;
            }

            span {
                font-size: var(--desc-size-md);
                font-weight: 400;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        tbody th {
            vertical-align: middle;
            padding-left: 12px;
            font-weight: 600;
            text-align: left;
            padding-left: 12px;
            min-width: max-content;

            .sub {
                display: block;
                font-size: 11px;
                color: #9a9a9a;
            }
        }

        tbody td {
            width: auto;
            padding: 4px;
            vertical-align: middle;
            min-width: max-content;
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px;
        min-width: max-content;
    }
    &__inner {
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.03);
        padding: 4px;
        min-width: max-content;
    }
    &__icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
    &__title {
        padding: var(--padding-xs);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: var(--desc-size-lg);
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        &.column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 4px;
            padding: 4px;
        }
        & .sub {
            color: rgba(255, 255, 255, 0.4);
            & .sum {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    &__desc {
        flex: 1;
        padding: var(--padding-xs);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4px;
        font-weight: 400;
        &.active {
            border-radius: var(--border-radius-sm);
            border: 1px solid rgba(255, 255, 255, 0.05);
            background: rgba(255, 255, 255, 0.05);
        }
        & .sub {
            font-size: var(--desc-size-md);
            color: rgba(255, 255, 255, 0.4);
        }
        & .sum {
            font-size: var(--desc-size-lg);
            color: rgba(255, 255, 255, 1);
        }
    }
}
