:root {
    --scrollbar-track-bg-color: #444444;
    --scrollbar-thumb-bg-color: #232323;
}

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color) !important;

}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color);
    border-radius: 20px;
    border: 1px solid var(--scrollbar-track-bg-color);
}

html {
    scrollbar-width: none;
    scrollbar-color: var(--scrollbar-track-bg-color) var(--scrollbar-thumb-bg-color);
}
