:root {
    --sidebar-bg-color:
        url(../img/sidebar-bg.svg) no-repeat top center / cover,
        linear-gradient(180deg, #0b0c0c 0%, rgba(11, 12, 12, 0) 100%);
    --sidebar-border-color: #141515;

    --sidebar-btn-bg-color: rgba(255, 255, 255, 0.04);
    --sidebar-total-balance-desc: rgba(255, 255, 255, 0.7);
    --sidebar-total-balance-desc-light: rgba(255, 255, 255, 1);
    --sidebar-total-balance-primary-btn-bg-color: rgba(71, 114, 202, 1);
    --sidebar-total-balance-btn-color: rgba(255, 255, 255, 1);
    --sidebar-total-balance-title-color: rgba(255, 255, 255, 0.6);
    --sidebar-total-balance-sum-color: rgba(255, 255, 255, 1);
    --sidebar-total-balance-sum-end-color: rgba(77, 77, 86, 1);

    --sidebar-assets-title-color: rgba(255, 255, 255, 1);
    --sidebar-assets-btn-color: rgba(255, 255, 255, 0.7);
    --sidebar-assets-network-title-color: rgba(255, 255, 255, 1);
    --sidebar-assets-network-desc-color: rgba(255, 255, 255, 0.4);
    --sidebar-assets-sum-color: rgba(255, 255, 255, 1);
    --sidebar-assets-network-border-color: rgba(14, 16, 20, 1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    padding: var(--padding-md);
    background: var(--sidebar-bg-color);
    border-right: 1px solid var(--sidebar-border-color);
    @media (max-width: 767.9px) {
        display: none;
    }
    &__logo {
        width: 100%;
        max-width: 150px;
        height: auto;
        object-fit: contain;
    }
    &__total-balance-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__total-balance-card-title-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 20px;
    }
    &__total-balance-card-title {
        font-size: var(--desc-md);
        font-weight: 300;
        color: var(--sidebar-total-balance-title-color);
    }
    &__total-balance-card-sum {
        font-size: var(--title-lg);
        font-weight: 600;
        color: var(--sidebar-total-balance-sum-color);
        & .end {
            color: var(--sidebar-total-balance-sum-end-color);
        }
    }
    &__total-balance-btns-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__total-balance-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: var(--padding-sm);
        border-radius: var(--border-radius-md);
        background: var(--sidebar-btn-bg-color);
        box-shadow:
            inset 1px 1px 1px rgba(255, 255, 255, 0.05),
            inset -1px -1px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(12px);
        cursor: pointer;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--sidebar-total-balance-btn-color);
        &.primary {
            background: var(--sidebar-total-balance-primary-btn-bg-color);
        }
        &.exchange {
            max-width: max-content;
        }
    }
    &__total-balance-qr {
        width: auto;
        height: 100%;
        object-fit: contain;
    }
    &__total-balance-title-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
    &__total-balance-desc {
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--sidebar-total-balance-desc);
        &.light {
            font-weight: 500;
            color: var(--sidebar-total-balance-desc-light);
        }
    }
    &__total-balance-icon {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
    &__assets {
        flex: 1;
        width: 100%;
        height: 100%;
        min-height: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__assets-title-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
    &__assets-title {
        font-size: var(--desc-size-lg);
        font-weight: 500;
        color: var(--sidebar-assets-title-color);
    }
    &__assets-btn {
        width: 100%;
        width: max-content;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--sidebar-assets-btn-color);
        background: transparent;
        border: none;
    }
    &__assets-icon {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
    &__assets-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: none;
    }
    &__assets-item {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
    }
    &__assets-network-field {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__assets-network-icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid var(--sidebar-assets-network-border-color);
    }
    &__assets-network-title-wrap {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__assets-network-title {
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--sidebar-assets-network-title-color);
    }
    &__assets-network-desc {
        font-size: var(--desc-size-sm);
        font-weight: 400;
        color: var(--sidebar-assets-network-desc-color);
    }
    &__assets-sum {
        font-size: var(--desc-size-md);
        font-weight: 500;
        color: var(--sidebar-assets-sum-color);
    }
}
