:root {
    --tapbar-bg-color: rgba(12, 13, 13, 1);
    --tapbar-border-color: rgba(20, 21, 21, 1);
    --tapbar-btn-bg-active-color: rgba(138, 177, 255, 0.05);
    --tapbar-btn-color: rgba(255, 255, 255, 0.3);
    --tapbar-btn-active-color: rgba(138, 177, 255, 1);
}

.tapbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1;
    padding: var(--padding-sm);
    @media (min-width: 768px) {
        display: none;
    }
    &__list {
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: var(--border-radius-md);
        background: var(--tapbar-bg-color);
        border: 1px solid var(--tapbar-border-color);
    }
    &__item {
        flex: 1 1 auto;
        &:nth-child(1) {
            & .tapbar__btn {
                & .tapbar__icon {
                    width: 20px;
                    height: 20px;
                    background: url(../img/icon/dashboard-menu.svg) no-repeat center / contain;
                }
                &:hover,
                &:focus {
                    & .tapbar__icon {
                        background: url(../img/icon/dashboard-menu-active.svg) no-repeat center / contain;
                    }
                }
                &.active,
                &[aria-pressed="true"],
                &[aria-current="page"] {
                    & .tapbar__icon {
                        background: url(../img/icon/dashboard-menu-active.svg) no-repeat center / contain;
                    }
                }
            }
        }
        &:nth-of-type(2) {
            & .tapbar__btn {
                & .tapbar__icon {
                    background: url(../img/icon/referral-menu.svg) no-repeat center / contain;
                }
                &:hover,
                &:focus {
                    & .tapbar__icon {
                        background: url(../img/icon/referral-menu-active.svg) no-repeat center / contain;
                    }
                }
                &.active,
                &[aria-pressed="true"],
                &[aria-current="page"] {
                    & .tapbar__icon {
                        background: url(../img/icon/referral-menu-active.svg) no-repeat center / contain;
                    }
                }
            }
        }
        &:nth-of-type(3) {
            & .tapbar__btn {
                & .tapbar__icon {
                    background: url(../img/icon/deposit-menu.svg) no-repeat center / contain;
                }
                &:hover,
                &:focus {
                    & .tapbar__icon {
                        background: url(../img/icon/deposit-menu-active.svg) no-repeat center / contain;
                    }
                }
                &.active,
                &[aria-pressed="true"],
                &[aria-current="page"] {
                    & .tapbar__icon {
                        background: url(../img/icon/deposit-menu-active.svg) no-repeat center / contain;
                    }
                }
            }
        }
        &:nth-of-type(4) {
            & .tapbar__btn {
                & .tapbar__icon {
                    background: url(../img/icon/credit-menu.svg) no-repeat center / contain;
                }
                &:hover,
                &:focus {
                    & .tapbar__icon {
                        background: url(../img/icon/credit-menu-active.svg) no-repeat center / contain;
                    }
                }
                &.active,
                &[aria-pressed="true"],
                &[aria-current="page"] {
                    & .tapbar__icon {
                        background: url(../img/icon/credit-menu-active.svg) no-repeat center / contain;
                    }
                }
            }
        }
    }
    &__btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background: transparent;
        border: none;
        border-radius: var(--border-radius-sm);
        padding: 8px 10px;
        cursor: pointer;
        transition:
            color 0.2s ease,
            background 0.2s ease;
        &:hover,
        &:focus {
            background: var(--tapbar-btn-bg-active-color);
            outline: none;
            & .tapbar__label {
                color: var(--tapbar-btn-active-color);
            }
        }

        &.active,
        &[aria-pressed="true"],
        &[aria-current="page"] {
            background: var(--tapbar-btn-bg-active-color);
            & .tapbar__label {
                color: var(--tapbar-btn-active-color);
            }
        }
    }
    &__label {
        font-size: var(--desc-size-sm);
        font-weight: 400;
        color: var(--tapbar-btn-color);
        text-decoration: none;
    }
    &__icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
}
