.transaction {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__form-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
        &--label {
            font-size: var(--desc-size-md);
            font-weight: 300;
            color: var(--modal-label-color);
        }
        &--input {
            display: block;
            width: 100%;
            height: 48px;
            max-height: 48px;
            padding: 8px 12px;
            padding-right: 80px;
            font-size: var(--desc-size-lg);
            font-weight: 400;
            color: var(--modal-input-color);
            background: var(--modal-input-bg-color);
            border-radius: var(--border-radius-md);
            border: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &::placeholder {
                font-size: var(--desc-size-lg);
                font-weight: 300;
            }
            &:focus,
            &:active {
                background: var(--modal-input-bg-color);
                border-radius: var(--border-radius-md);
            }
            &:focus,
            &:focus-visible {
                color: var(--modal-input-color) !important;
                background: var(--modal-input-bg-color);
                border-radius: var(--border-radius-md);
                box-shadow: none;
                outline: none;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:active {
                background: var(--modal-input-bg-color) !important;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
                -webkit-text-fill-color: var(--modal-input-color) !important;
                transition: background-color 9999s ease-in-out 0s;
            }

            &:focus {
                outline: none;
                -webkit-tap-highlight-color: transparent;
            }
        }
        &--select {
            position: relative;
            width: 100%;
        }
        &--select-field {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
            height: 48px;
            max-height: 48px;
            padding: 8px 12px;
            background: var(--modal-input-bg-color);
            border-radius: var(--border-radius-md);
            cursor: pointer;
            border: none;
            &.mini {
                padding: 10px 8px;
                height: auto;
                max-height: none;
                border-radius: var(--border-radius-sm);
                border-radius: 50px;
            }
        }
        &--select-icon {
            width: 20px;
            height: 20px;
            object-fit: contain;
            &:not([hidden]) {
                visibility: visible;
            }
        }
        &--select-text {
            font-size: var(--desc-size-lg);
            font-weight: 300;
            color: var(--modal-select-primary-color);
        }
        &--select-arrow {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-left: auto;
        }
        &--select-dropdown {
            position: absolute;
            top: 110%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 4px;
            height: max-content;
            background: var(--modal-select-dropdown-bg-color);
            border-radius: var(--border-radius-md);
            padding: 4px;
            list-style: none;
            z-index: 99;
            overflow: hidden;
            overflow-y: scroll;
            scrollbar-width: none;
            &[hidden] {
                display: none !important;
            }
        }
        &--select-option {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 12px;
            border-radius: var(--border-radius-sm);
            cursor: pointer;
            &:hover {
                background: var(--modal-select-option-bg-color);
            }
            &.active {
                background: var(--modal-select-option-bg-color);
            }
            &[aria-selected="true"] {
                background: var(--modal-select-option-bg-color);
            }
        }
    }
    & .card {
        &__header {
            @media (max-width: 767.9px) {
                flex-direction: column;
            }
        }
    }
}

.transactions-desktop {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    @media (max-width: 767.9px) {
        display: none;
    }
    &__table {
        width: 100%;
        & tr {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        & tbody {
            & tr {
                padding: 8px 0;
                border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.01);
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    &__header-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(6) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__header-icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        cursor: pointer;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--desc-size-md);
        font-weight: 300;
        color: var(--table-header-title-color);
        white-space: nowrap;
        padding: var(--padding-xs);
        &:nth-child(1) {
            width: 100%;
            min-width: 170px;
        }
        &:nth-child(2) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(3) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(4) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(5) {
            width: 100%;
            min-width: 150px;
        }
        &:nth-child(6) {
            width: 120px;
            min-width: 120px;
        }
    }
    &__logo {
        width: auto;
        height: 16px;
        object-fit: contain;
    }
    &__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    &__desc {
        font-size: var(--desc-size-md);
        font-weight: 400;
        color: var(--table-desc-color);
        & .network {
            color: var(--table-network-color);
        }
        & .success {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-success-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-success-color);
            }
        }
        & .failed {
            display: flex;
            align-items: baseline;
            gap: 8px;
            color: var(--table-failed-color);
            & .dot {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: var(--table-failed-color);
            }
        }
    }
    &__tooltip {
        padding: var(--padding-xs);
        border-radius: var(--border-radius-sm);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--desc-size-sm);
        &.success {
            background: var(--table-tooltip-success-bg-color);
            color: var(--table-success-color);
        }
        &.failed {
            background: var(--table-tooltip-failed-bg-color);
            color: var(--table-failed-color);
        }
    }
}

.transactions-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: var(--padding-xs);
    background: transparent;
    border: 1px solid var(--table-mobile-border-color);
    border-radius: var(--border-radius-sm);
    @media (min-width: 768px) {
        display: none;
    }
    .transaction-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &:last-child {
            & .transaction-mobile__list {
                dd:last-of-type {
                    border: none;
                    padding-bottom: 0;
                }
                dt:last-of-type {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
        &__header {
            font-size: var(--desc-size-sm);
            color: var(--table-mobile-header-title-color);
        }
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
        }
        dt {
            width: 40%;
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--table-mobile-item-title-color);
            padding: var(--padding-xs);
            padding-left: 0;
            display: flex;
            flex-direction: row;
            gap: 0;
            border-bottom: 1px solid var(--table-mobile-item-border-color);
        }

        dd {
            width: 60%;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--table-mobile-item-desc-color);
            padding: var(--padding-xs);
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            gap: 8px;
            border-bottom: 1px solid var(--table-mobile-item-border-color);
        }
        &__icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
        &__desc {
            font-size: var(--desc-size-md);
            font-weight: 400;
            color: var(--table-desc-color);
            & .network {
                color: var(--table-network-color);
            }
            & .success {
                display: flex;
                align-items: baseline;
                gap: 8px;
                color: var(--table-success-color);
                & .dot {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 20px;
                    background: var(--table-success-color);
                }
            }
            & .failed {
                display: flex;
                align-items: baseline;
                gap: 8px;
                color: var(--table-failed-color);
                & .dot {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 20px;
                    background: var(--table-failed-color);
                }
            }
        }
    }
}
